@import "assets/scss/mixin";
@import "assets/scss/variable";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 !important;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100svh;
}

img,
label {
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  @include font-noto(400);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: $black;

  .header_wrapper {
    max-width: 1512px;
    width: 100%;
    height: 98px;
    margin: 0 auto;
    background: white;
    align-content: center;

    .logo {
      display: block;
      width: 215px;
      height: 45px;
      margin-left: 75px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

main {
  @include font-noto(400);
  color: $black;
  width: 100vw;
  background: white;

  .header_padding {
    width: 100%;
    height: 98px;
  }

  #fv {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 130px;

    .fv_bg {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .fv_wrapper {
      position: relative;
      z-index: 2;
      margin-left: min(200px, 13.2vw);
      padding-top: clamp(85px, 38.548px + 6.048vw, 130px);

      .fv_title {
        position: relative;
        margin-bottom: min(3.3vw, 50px);

        .absolute {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-13%, calc(-100% - 15px));
          width: min(500px, 33vw);

          img {
            width: 100%;
          }
        }

        img {
          width: 50vw;
          max-width: 760px;
        }
      }

      .fv_info {
        display: flex;
        gap: 35px;
        padding-bottom: 50px;

        @include tb() {
          padding-bottom: 20px;
        }

        .frame_contents {
          display: flex;
          gap: 20px;

          img {
            width: min(205px, 13.6vw);
            height: min(205px, 13.6vw);
          }
        }

        .map_block {
          position: relative;
          width: min(453px, 30vw);

          .map {
            position: relative;
            z-index: 2;
            width: 100%;
          }

          .absolute {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 100%;
          }
        }
      }

      .fv_contact {
        width: 100%;
        justify-items: center;

        .orange_button {
          @include orange_button();
        }
      }
    }
  }

  #merit {
    width: 100%;
    padding-bottom: 150px;

    .merit_wrapper {
      width: 100%;
      max-width: 1512px;
      margin: 0 auto;

      .section_title {
        @include section_title();
        padding-bottom: 75px;
      }

      .merit_content {
        width: clamp(1100px, 415.862px + 53.448vw, 1224px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .merit_block {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 50px;

          &:nth-child(even) {
              .text_block {
                order: 3;
              }
          }

          .text_block {
            order: 1;
            width: 53%;

            .num {
              display: inline-flex;
              flex-direction: column;
              align-items: center;

              span {
                width: fit-content;
                @include font-roboto(500);
                font-size: 24px;
                letter-spacing: 3.84px;
                opacity: 0.6;
                background: linear-gradient(270deg, #9FDBFA 0%, #59B9ED 49.04%, #1698E1 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }

              .number {
                width: fit-content;
                color: $blue;
                font-size: 87px;
                line-height: 85%;
              }
            }

            .sub_title {
              background: white;
              box-shadow: 0 4px 7px 0 rgba(0, 163, 217, 0.20);
              padding: 16px 24px;
              justify-content: center;
              align-items: center;
              display: flex;

              p {
                color: $blue;
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 1.44px;
              }
            }

            .text {
              padding-top: 30px;
              font-size: 18px;
              line-height: 35px;

              span {
                font-weight: 700;
                background: linear-gradient(transparent 60%, #FFE88B 60%);
              }
            }
          }

          .img_block {
            order: 2;
            width: 47%;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #advertisement {
    width: 100%;
    padding-bottom: 150px;

    .advertisement_wrapper {
      width: 100%;
      max-width: 1512px;
      margin: 0 auto;

      .section_title {
        @include section_title();
      }
    }
  }

  #member {
    width: 100%;
    padding-bottom: 150px;

    .member_wrapper {
      width: 100%;
      max-width: 1512px;
      margin: 0 auto;

      .section_title {
        @include section_title();
      }
    }
  }

  #voice {
    width: 100%;
    padding-bottom: 150px;

    .voice_wrapper {
      width: 100%;
      max-width: 1512px;
      margin: 0 auto;

      .section_title {
        @include section_title();
      }
    }
  }

  #youtube {
    width: 100%;
    padding-bottom: 150px;

    .youtube_wrapper {
      width: 100%;
      max-width: 1512px;
      margin: 0 auto;

      .section_title {
        @include section_title();
      }
    }
  }

  #qa {
    width: 100%;
    padding-bottom: 150px;

    .qa_wrapper {
      width: 100%;
      max-width: 1512px;
      margin: 0 auto;

      .section_title {
        @include section_title();
      }
    }
  }

  #contact {
    width: 100%;
    padding-bottom: 150px;

    .contact_wrapper {
      width: 100%;
      max-width: 1512px;
      margin: 0 auto;

      .section_title {
        @include section_title();
      }
    }
  }
}