

@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

// weight: 100-900
@mixin font-noto($weight) {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
}

@mixin font-roboto($weight) {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
}

@mixin section_title() {
  width: 100%;
  justify-items: center;

  h2 {
    color: $blue;
    @include font-roboto(400);
    font-size: 30px;
    font-weight: 400;
  }

  h1 {
    color: $black;
    @include font-noto(500);
    text-align: center;
    font-size: 48px;
    line-height: 150%;

    span {
      color: $blue;
      font-size: 96px;
      font-weight: 600;
    }
  }
}

@mixin orange_button() {
  position: relative;
  width: 457px;
  height: 84px;
  border-radius: 45px;
  box-shadow: 0 2.71px 2.71px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #FD8D00 0%, #FC9D01 44.5%, #FBA801 100%);
  align-content: center;

  @include tb() {
    width: 360px;
    height: 50px;
  }

  span {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 21.677px;
    font-weight: 700;

    @include tb() {
      font-size: 18px;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);

    @include tb() {
      width: 25px;
      height: 25px;
    }
  }
}